@font-face {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../../fonts/inter/inter-tight-latin-regular.woff2) format('woff2-variations');
}