@theme {
  --color-primary: oklch(0.6805 0.181 37.48);
  --color-primary-hover: oklch(0.6275 0.166 37.3);
  --color-secondary: #1a1a1d;
  --color-light: #f5f5f5;
  --font-sans: "Inter Tight", sans-serif;
}