@theme {
  /*--color-primary: oklch(0.6805 0.181 37.48);*/
  --color-primary: oklch(0.7202 0.1782 37.49);
  --color-primary-hover: oklch(0.6649 0.1635 37.59);
  --color-secondary: #1a1a1d;
  --color-light: #f5f5f5;
  --font-sans: "Inter Tight", sans-serif;
}