<div>
  <div class="grid grid-cols-3 gap-4">

    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.compras,
        icon: 'fnc:compras',
        title: 'Módulo Compras',
        description: 'Maior controle das suas compras'
      } %}
    </div>
    
    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.producao,
        icon: 'fnc:producao',
        title: 'Módulo Produção',
        description: 'Otimize o processo produtivo da sua empresa'
      } %}
    </div>

    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.estoque,
        icon: 'fnc:estoque',
        title: 'Módulo Estoque',
        description: 'Otimização de ponta a ponta do seu estoque'
      } %}
    </div>

    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.vendas,
        icon: 'fnc:vendas',
        title: 'Módulo Vendas',
        description: 'Otimize a rotina dos vendedores e representantes'
      } %}
    </div>

    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.financeiro,
        icon: 'fnc:financeiro',
        title: 'Módulo Financeiro',
        description: 'Automatize tarefas de forma rápida e segura'
      } %}
    </div>

    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.comercial,
        icon: 'fnc:comercial',
        title: 'Módulo Comercial',
        description: 'Simplifique o processo de vendas da sua equipe'
      } %}
    </div>

    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.controladoria,
        icon: 'fnc:controladoria',
        title: 'Módulo Controladoria',
        description: 'Precisão e segurança na tomada de decisões'
      } %}
    </div>

    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.recursos,
        icon: 'fnc:recursos',
        title: 'Recursos Gerais',
        description: 'Mantenha todas as informações centralizadas'
      } %}
    </div>

    <div>
      {% include 'ui/flyout-button.twig' with {
        link: links.funcionalidade.integracoes,
        icon: 'fnc:integracoes',
        title: 'Integrações',
        description: 'Conheça as integrações do ERP WebMais'
      } %}
    </div>

  </div>

  <div class="text-center mt-7">
    <a href="https://webmaissistemas.com.br/sistema-gestao-integrada/" class="btn btn-primary btn-sm">
      Clique aqui e veja todas as funcionalidades
      <svg class="icon size-4 ml-1 text-white" data-icon="ui:arrow-right"></svg>
    </a>
  </div>
  
</div>