<a href="{{ link }}" class="hover:bg-gray-50 hover:shadow-md rounded p-5 block">
  <div class="flex items-center">
    <div>
      <svg class="icon text-white size-12 bg-gradient-to-r from-[#f28531] to-primary p-2 rounded-sm" data-icon="{{ icon }}"></svg>
    </div>
    <div class="text-sm ml-4">
      <span class="font-bold text-base">{{ title }}</span><br>{{ description }}
    </div>
  </div>
</a>