.hero {
  background-image: url("/dist/images/background/hero-webmais-sistemas.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-numeros {
  background-image: url("/dist/images/background/numeros-webmais.webp");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}

.bg-mesh {
  background: linear-gradient(180deg,rgba(242, 103, 60, 1) 0%, rgba(0, 0, 0, 1) 50%);
}