/* CTA expand effect */
.cta-expand {
  overflow: hidden;
}

/* estado inicial */
.cta-expand .cta-box {
  transform: scale(0.85);
  transition:
    transform 0.9s ease;
}

/* quando entra na viewport */
.cta-expand.is-visible .cta-box {
  transform: scale(1);
}

.cta-expand .cta-box {
  transform: scale(0.7);
}

@media (max-width: 768px) {
  .cta-expand .cta-box {
    transform: none;
  }
}