<section class="cta-expand bg-linear-to-b from-white from-50% to-gray-100 to-50% py-20">
  <div class="max-w-5xl mx-auto rounded-4xl">
    <div class="cta-box bg-primary px-8 py-10  md:p-10 rounded-2xl shadow-2xl text-center">

      <div class="max-w-2xl mx-auto">

      <h2 class="text-5xl md:text-7xl text-white font-bold">
        Chega de ERPs genéricos.
      </h2>
      <p class="text-2xl my-8">
        Trabalhe com um ERP online pensado para a realidade de indústrias e distribuidoras.
      </p>
      <a href="#form" class="btn border border-white text-white hover:bg-white hover:text-black text-lg">
        Agende uma demonstração
      </a>
      </div>


    </div>
  </div>
</section>