<section class="py-20 md:py-40">
  <div class="container">
    <div class="grid md:grid-cols-2 items-center gap-20">
      <div>
        <h2 class="text-primary uppercase font-medium">Sistema de Gestão Empresarial</h2>
        <h3 class="text-5xl font-semibold py-5">ERP Online WebMais</h3>
        <p class="text-lg">Todos os dados da sua empresa ficam disponíveis em um único sistema, sempre atualizados e prontos para uso.</p>
        <div class="grid grid-cols-2 my-10 gap-10">
          
          <div class="md:flex">
            <svg id="" class="h-15 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 248"><circle cx="124" cy="124" r="124" fill="#f2673c"/><path d="M172.79,98.8c-1.85-9.84-6.93-18.83-14.53-25.59-8.48-7.55-19.45-11.71-30.87-11.71-12.32,0-23.91,4.74-32.63,13.36-8.74,8.63-13.55,20.12-13.55,32.33,0,2.74.24,5.45.73,8.11-19.27.64-34.74,16.36-34.74,35.59s16.14,35.61,35.97,35.61h71.43c12.32,0,23.91-4.75,32.63-13.36,8.74-8.63,13.55-20.12,13.55-32.33,0-18.38-11.12-34.87-27.99-42.01ZM154.61,175.79h-71.43c-13.93,0-25.25-11.17-25.25-24.89s11.33-24.89,25.25-24.89c1.65,0,3.31.16,4.91.47,3.28.64,6.36,1.89,9.14,3.74,2.47,1.63,5.79.96,7.42-1.51,1.63-2.47.96-5.79-1.51-7.42-3.06-2.03-6.37-3.55-9.88-4.56-.88-3.08-1.33-6.27-1.33-9.51,0-19.29,15.91-34.98,35.46-34.98,15.34,0,28.57,9.6,33.45,23.32-2.06-.28-4.14-.42-6.24-.42-5.27,0-10.44.87-15.37,2.59-2.79.98-4.27,4.03-3.29,6.82s4.03,4.27,6.82,3.29c3.79-1.32,7.77-2,11.84-2s7.89.65,11.62,1.92c14.26,4.88,23.84,18.16,23.84,33.06,0,19.29-15.91,34.98-35.46,34.98Z"/></svg>
            <p class="ml-4 text-lg">Sem instalação local ou servidor interno</p>
          </div>
          <div class="md:flex">
            <svg id="" class="h-15 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 248"><circle cx="124" cy="124" r="124" fill="#f2673c"/><path d="M124,195.29c-1.89,0-3.7-.76-5.02-2.12-2-2.05-3.99-4.09-5.98-6.11-23.66-24.13-46.01-46.92-46.01-75.91,0-32.22,25.57-58.43,57-58.43s57,26.21,57,58.43c0,28.99-22.35,51.78-46.01,75.91-1.98,2.02-3.98,4.06-5.98,6.11-1.32,1.36-3.13,2.12-5.02,2.12ZM124,66.71c-23.71,0-43,19.93-43,44.43s20.4,44.08,42,66.11c.33.34.67.68,1,1.02.33-.34.67-.68,1-1.02,21.6-22.03,42-42.84,42-66.11,0-24.5-19.29-44.43-43-44.43Z"/><path d="M124,127.74c-9.94,0-18.03-8.09-18.03-18.03s8.09-18.03,18.03-18.03,18.03,8.09,18.03,18.03-8.09,18.03-18.03,18.03Z"/></svg>
            <p class="ml-4 text-lg">Acesso de qualquer lugar, a qualquer hora</p>
          </div>
          <div class="md:flex">
            <svg id="" class="h-15 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 248"><circle cx="124" cy="124" r="124" fill="#f2673c"/><path d="M124,195.59c-39.48,0-71.59-32.12-71.59-71.59S84.52,52.41,124,52.41s71.59,32.12,71.59,71.59-32.12,71.59-71.59,71.59ZM124,65.59c-32.21,0-58.41,26.2-58.41,58.41s26.2,58.41,58.41,58.41,58.41-26.2,58.41-58.41-26.2-58.41-58.41-58.41ZM142.05,141.43c-1.15,0-2.32-.3-3.39-.94l-18.06-10.83c-1.99-1.19-3.2-3.34-3.2-5.65v-36.11c0-3.64,2.95-6.59,6.59-6.59s6.59,2.95,6.59,6.59v32.38l14.86,8.91c3.12,1.87,4.13,5.92,2.26,9.04-1.24,2.06-3.42,3.2-5.66,3.2Z"/></svg>
            <p class="ml-4 text-lg">Informações sempre atualizadas em tempo real</p>
          </div>
          <div class="md:flex">
            <svg id="" class="h-15 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 248"><circle cx="124" cy="124" r="124" fill="#f2673c"/><path d="M196.46,95.4c0-.1-.03-.2-.04-.3-.02-.14-.04-.29-.07-.43-.02-.12-.06-.23-.09-.35-.03-.12-.06-.24-.09-.36-.03-.12-.08-.23-.12-.34-.04-.12-.08-.24-.13-.35-.04-.11-.1-.21-.14-.31-.06-.12-.11-.24-.17-.35-.05-.1-.11-.19-.17-.29-.07-.11-.13-.23-.21-.34-.07-.1-.15-.2-.22-.3-.07-.1-.14-.19-.21-.29-.15-.18-.3-.35-.46-.51-.01-.01-.02-.03-.03-.04,0,0-.02-.02-.03-.03-.17-.16-.34-.32-.52-.47-.08-.07-.17-.13-.26-.19-.11-.08-.22-.17-.33-.24-.1-.07-.21-.13-.32-.19-.1-.06-.21-.13-.31-.19-.11-.06-.22-.11-.33-.16-.11-.05-.22-.11-.34-.16-.11-.04-.21-.08-.32-.12-.12-.04-.25-.09-.37-.13-.11-.03-.21-.06-.32-.08-.13-.03-.26-.07-.39-.1-.12-.02-.24-.04-.36-.06-.12-.02-.24-.04-.36-.05-.22-.02-.43-.03-.65-.03-.03,0-.06,0-.09,0h-37.14c-4.14,0-7.5,3.36-7.5,7.5s3.36,7.5,7.5,7.5h19.04l-37.61,37.61-31.84-31.84c-1.41-1.41-3.31-2.2-5.3-2.2s-3.9.79-5.3,2.2l-37.14,37.14c-2.93,2.93-2.93,7.68,0,10.61,1.46,1.46,3.38,2.2,5.3,2.2s3.84-.73,5.3-2.2l31.84-31.84,31.84,31.84c1.41,1.41,3.31,2.2,5.3,2.2s3.9-.79,5.3-2.2l42.91-42.91v19.04c0,4.14,3.36,7.5,7.5,7.5s7.5-3.36,7.5-7.5v-37.14c0-.25-.01-.5-.04-.75Z"/></svg>
            <p class="ml-4 text-lg">SLA de 99,9% para operações que não podem parar</p>
          </div>
          
        </div>
        <a class="btn btn-primary" href="#form">Quero uma demonstração</a>
      </div>
      <div>
        <img src="{{ images }}/layout/erp-online-webmais.webp" alt="ERP WebMais" title="ERP WebMais" width="685" height="635">
      </div>
    </div>
  </div>
</section>