<section class="bg-linear-to-t from-white from-50% to-black to-50% pt-20">
  <div class="container">
    <div class="bg-radial from-[#f3764f] from-40% to-primary max-w-6xl mx-auto white rounded-4xl shadow-2xl p-10 text-center">
      <img
        src="{{ images }}/layout/integracoes-webmais.webp"
        loading="lazy"
        class="mx-auto"
        alt="Integrações com o ERP WebMais"
        title="Integrações com o ERP WebMais"
        width="652"
        height="282"
      >
      <h2 class="text-4xl font-semibold my-4">Integrações com o ERP WebMais</h2>
      <p class="mb-5">Conecte suas principais ferramentas ao ERP e centralize a operação em um só lugar.</p>
      <a href="{{ links.funcionalidade.integracoes }}" class="btn border border-white text-white hover:bg-white hover:text-black text-lg">
        Ver todas as integrações
      </a>
    </div>
  </div>
</section>